@import "variables";

html {
    font-size: 1rem;
    background: white;
    height: 100%;
}



.text-orange-primary {
    color: $orange-primary;
}

a.text-orange-primary {
    &:hover {
        color: $orange-primary-hover;
    }
}

.text-gray {
    color: $gray;
}

.vertical-text__scroll-down {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 8pt;
    font-weight: 600;
    position: absolute;
    right: 0;
    bottom: 0;
    color: $orange-primary;

    & svg {
        width: 15px;
        height: 15px;
    }
}

.bg-orange-gradient {
    background: $orange-gradient;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

h1,h2,h3,h4,h5,h6,p,span,i {
    color: #1a1a1a;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    z-index: 2;
}

h1,h2,h3,h4,h5,h6,a {
    font-family: "Lato", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
    overflow: visible;
}



body {
    z-index: -2;
    position: relative;
}

.main-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    border-right: 2px solid $orange-primary;
    position: relative;
    background: white !important;
    z-index: 9999;

    &__button {
        width: inherit;
        height: 50px;
        background: $orange-primary;
    }
}

.main-container {
    width: calc(100% - 50px);
    margin-left: 50px;
    background: repeating-linear-gradient(90deg,rgba(0,0,0,.05),rgba(0,0,0,.05  ) 1px,transparent 0,transparent 8.33333333333%);
    background-size: calc(100% - 51px) 100%;
    background-position-x: 52px;
    position: relative;

}

.page-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.heading-1 {
    font-size: $font-big;
}

.hero__greet {
    margin-left: 50px;

    &__title {
        font-size: $font-big;
    }

    &__campus {
        font-size: 18pt;
    }

    &__date {
        font-size: $font-big;
    }

    &__month {
        margin-top: 0.75em;
    }

    &__month, &__place {
        font-size: 12pt;
        line-height: 10pt;
        vertical-align: bottom;
    }

    &__maps-link {

        font-weight: 600;
        color: $orange-primary !important;

    }
}

.homepage-button__left-button-wrapper {
    width: calc(100% + 2em) !important;
    position: relative;
    z-index: 1;
}

.homepage-button__left-button {
    height: 50px;
    vertical-align: middle;
    background: $orange-primary;
    width: calc(100% + 25px);

    &:hover {
        text-decoration: none;
    }
}

.right-side-background, .left-side-background {
    background-size: cover !important;
}

.tentang__content {
    margin-left: 31px;

    &__title {
        font-size: $font-big;
    }
}

h1.shadowed-text {
    position: relative;
}

h1.shadowed-text::before {
    content: attr(name);
    top: -20vh;
    left: -10vh;
    position: absolute;
    font-size: 2em;
    color: rgb(243, 243, 243);
    z-index: -999999999;
}

.playon-section {
    height: 100vh;
}



@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    .class-name {font-size: 16px;}
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .playon-section {
        height: 200vh;
    }

    [class*=col-].h-100 {
        height: 50% !important;
    }

    .homepage-button__left-button-wrapper {
        width: calc(100%) !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .class-name {
        font-size: 40px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .class-name {font-size: 48px;}
}


a.navigation_content__items {
    color: $gray;

    &.active {
        color: $black;

        &::after {
            content: '—'
        }
    }
}

.homepage-countdown {

    &__time {
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-size: $font-bigger;
        font-style: italic;
        text-align: center;
        color: $orange-primary;

        & span {
            font-size: 0.3em;
            margin-right: 0.2em;
            color: $orange-primary;
        }
    }

    &__deco {
        width: 5em;
        height: auto;

        &:first-child {
            margin-top: -2em;
            margin-right: 2em;
        }

        &:last-child {
            margin-left: 2em;
        }
    }

}

.clearfix::before,
.clearfix::after {
    flex-basis: 0;
    order: 1;
}
