@charset "UTF-8";

html {
  font-size: 1rem;
  background: white;
  height: 100%;
}

.text-orange-primary {
  color: #ffa600;
}

a.text-orange-primary:hover {
  color: #d68900;
}

.text-gray {
  color: #e2e2e2;
}

.vertical-text__scroll-down {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: mixed;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 8pt;
  font-weight: 600;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ffa600;
}

.vertical-text__scroll-down svg {
  width: 15px;
  height: 15px;
}

.bg-orange-gradient {
  background: linear-gradient(60deg, #ffc000 0%, #ffa600 100%);
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
i {
  color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Lato", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

[class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
  overflow: visible;
}

body {
  z-index: -2;
  position: relative;
}

.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  border-right: 2px solid #ffa600;
  position: relative;
  background: white !important;
  z-index: 9999;
}

.main-nav__button {
  width: inherit;
  height: 50px;
  background: #ffa600;
}

.main-container {
  width: calc(100% - 50px);
  margin-left: 50px;
  background: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1px, transparent 0, transparent 8.33333333%);
  background-size: calc(100% - 51px) 100%;
  background-position-x: 52px;
  position: relative;
}

.page-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.heading-1 {
  font-size: 3em;
}

.hero__greet {
  margin-left: 50px;
}

.hero__greet__title {
  font-size: 3em;
}

.hero__greet__campus {
  font-size: 18pt;
}

.hero__greet__date {
  font-size: 3em;
}

.hero__greet__month {
  margin-top: 0.75em;
}

.hero__greet__month,
.hero__greet__place {
  font-size: 12pt;
  line-height: 10pt;
  vertical-align: bottom;
}

.hero__greet__maps-link {
  font-weight: 600;
  color: #ffa600 !important;
}

.homepage-button__left-button-wrapper {
  width: calc(100% + 2em) !important;
  position: relative;
  z-index: 1;
}

.homepage-button__left-button {
  height: 50px;
  vertical-align: middle;
  background: #ffa600;
  width: calc(100% + 25px);
}

.homepage-button__left-button:hover {
  text-decoration: none;
}

.right-side-background,
.left-side-background {
  background-size: cover !important;
}

.tentang__content {
  margin-left: 31px;
}

.tentang__content__title {
  font-size: 3em;
}

h1.shadowed-text {
  position: relative;
}

h1.shadowed-text::before {
  content: attr(name);
  top: -20vh;
  left: -10vh;
  position: absolute;
  font-size: 2em;
  color: #f3f3f3;
  z-index: -999999999;
}

.playon-section {
  height: 100vh;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Small devices (landscape phones, 544px and up) */

@media (min-width: 544px) {
  .class-name {
    font-size: 16px;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
  .playon-section {
    height: 200vh;
  }

  [class*=col-].h-100 {
    height: 50% !important;
  }

  .homepage-button__left-button-wrapper {
    width: calc(100%) !important;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .class-name {
    font-size: 40px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .class-name {
    font-size: 48px;
  }
}

a.navigation_content__items {
  color: #e2e2e2;
}

a.navigation_content__items.active {
  color: #1a1a1a;
}

a.navigation_content__items.active::after {
  content: '\2014';
}

.homepage-countdown__time {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 4em;
  font-style: italic;
  text-align: center;
  color: #ffa600;
}

.homepage-countdown__time span {
  font-size: 0.3em;
  margin-right: 0.2em;
  color: #ffa600;
}

.homepage-countdown__deco {
  width: 5em;
  height: auto;
}

.homepage-countdown__deco:first-child {
  margin-top: -2em;
  margin-right: 2em;
}

.homepage-countdown__deco:last-child {
  margin-left: 2em;
}

.clearfix::before,
.clearfix::after {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

