.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.text-orange-primary {
  color: #ffa600;
}

a.text-orange-primary:hover {
  color: #d68900;
}

.bg-orange-gradient {
  background: linear-gradient(60deg, #ffc000 0%, #ffa600 100%);
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
i {
  color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Lato", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

[class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
  overflow: visible;
}

html {
  background: white;
  height: 100%;
}

.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  border-right: 2px solid #ffa600;
  position: relative;
}

.main-nav__button {
  width: inherit;
  height: 50px;
  background: #ffa600;
}

.main-container {
  width: calc(100% - 50px);
  margin-left: 50px;
  background: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1px, transparent 0, transparent 8.33333333%);
  background-size: calc(100% - 51px) 100%;
  background-position-x: 52px;
  position: relative;
  height: 100vh;
}

.page-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__greet {
  margin-left: 50px;
}

.hero__greet__title {
  font-size: 32pt;
}

.hero__greet__campus {
  font-size: 18pt;
}

.hero__greet__date {
  font-size: 32pt;
}

.hero__greet__month,
.hero__greet__place {
  font-size: 12pt;
  line-height: 10pt;
  vertical-align: bottom;
  margin-top: 6pt;
}

.hero__greet__maps-link {
  font-weight: 600;
  color: #ffa600 !important;
}

.hero__greet__maps-link i {
  font-size: 8pt;
}

.homepage-button__left-button-wrapper {
  width: calc(100% + 31px) !important;
}

.homepage-button__left-button {
  height: 50px;
  vertical-align: middle;
  background: #ffa600;
  width: calc(100% + 25px);
}

.homepage-button__left-button:hover {
  text-decoration: none;
}

.right-side-background {
  background-size: cover !important;
}

