// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;

$orange: #f6993f;
$orange-primary: #ffa600;
$orange-primary-hover: #d68900;

$black: #1a1a1a;
$gray: #e2e2e2;

$orange-gradient: linear-gradient(60deg, rgba(255, 192, 0, 1) 0%, rgba(255, 166, 0, 1) 100%);

$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
